<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}
<nav class="navbar navbar-expand-sm  top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav col-4">

      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Explore More
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
   <li class="nav-item">
        <a class="nav-link" href="#">Buy 3d Game Assets </a>
    </li>
          <li class="nav-item">
        <a class="nav-link" href="#">Sell </a>
    </li>

    </ul>
      <div class="brand-logo  col-4"><a class="navbar-brand" href="#"><img src="{{ '/img/logo.png' | relative_url }}"></a></div>
     <ul class="navbar-nav col-4">
          <li class="nav-item cart-icn">
              <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i><span>0</span></a>
         </li>
         <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>

    <li class="nav-item login-btn">
        <a class="nav-link" href="#"><i class="fas fa-user"></i>Log In</a>
      </li>
    </ul>
  </div>
</nav>
{% else %}
<div class="intro-header"></div>
{% endif %}
